extends layout

block li
    li.nav-item.active
        a(class="nav-link" href="/articles") Articles
    li.nav-item
        a(class="nav-link" href="/api") Documentation
    li.nav-item
        a(class="nav-link" href="/about") About

block content
    div.container.mt-4
        form.mb-5(action="/api/articles" method="POST")
            #form-group
                input.form-control(name="id", type="number" hidden)
            #form-group
                label Name:
                input.form-control(name="name", type="text" required)             
            #form-group
                label Author:
                input.form-control(name="author", type="text" required)        
            #form-group
                label Author Info:
                input.form-control(name="authorInfo", type="text" required)  
            #form-group
                label Content:
                textarea.form-control(name="content", cols="20", rows="5" required) 
            #form-group
                br
                input.form-control.btn.btn-sm.btn-primary(value="Submit", type="submit")

        hr
        h1.text-center.text-dark Articles
        hr
        - const artStyles = 'list-style:none'
        div(style=artStyles)
            for article in articles
                h3(class="font-weight-bold text-info")= `${ article.name }`
                p.text-justify.mt-4= `${ article.content }`
                a(class="btn btn-secondary text-white" href=`articles/${ article.id }`) More details
                hr


block footer
    footer(class="site-footer font-small text-white bg-dark pt-4 pb-4 mt-5" style=footerStyle)
        div(class="footer-copyright text-center py-2") © 2020 Copyright LeonelDev
        div(class="footer-copyright text-center py-2")
            a(target="_blank" href="https://github.com/leonelwebdev") GitHub Repositories
